name: Reusable Build and Push

on:
  workflow_call:
    inputs:
      image_name:
        required: true
        type: string
      tag:
        required: true
        type: string
    secrets:
      DOCKERHUB_TOKEN:
        required: true

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    outputs:
      image: ${{ steps.set_output.outputs.image }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push Image
        run: |
          IMAGE="${{ vars.DOCKERHUB_USERNAME }}/${{ inputs.image_name }}:${{ inputs.tag }}"
          docker build -t "$IMAGE" .
          docker push "$IMAGE"
        shell: bash

      - name: Set Output
        id: set_output
        run: |
          echo "image=${{ vars.DOCKERHUB_USERNAME }}/${{ inputs.image_name }}:${{ inputs.tag }}" >> $GITHUB_OUTPUT
